.body {
    height: 100vh;
}

.app {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    
}

.app-group {
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.app-item {
    margin-bottom: 5px;
}

.label {
    text-align: center;
}

.input, .button  {
    height: 20px;
    width: 200px;
}